body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px ;
    font-family: "nunito", sans-serif;
}
/* Navbar Styling Start Here */
.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    height: 50px;
    margin-bottom: 100px;
    align-items: center;
    padding-left: 50px;
    overlay: 10px;
}
.icon img {
    width: 15rem;
}
.navlinks {
    justify-content: space-around;
    display: flex;
    gap: 5rem;
}
.navlinks a {
    text-decoration: none;
    color: black;
    gap: 1.5rem;
    align-items: stretch;
}
.navbutton a {
    color: white;
    text-decoration: none;
    background-color: teal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;

}
/* First Class Styling Starts Here */
.first {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.text {
    padding: 40px;
}
.text h1 {
    width: 35rem;
}
.text .edition {
    font-size: 20px;  
    color: black;
}
.text p {
    width: 30rem;
}
.button {
    margin-top: 20px;
}
.button a {
    text-decoration: none; 
    background-color: teal; 
    color: white; 
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-right: 20px; 
    padding-left: 20px; 
    margin-right: 20px;
}
.grid {
    max-width: 50%;
}
.grid img {
    width: 40rem;
    height: 100%;
    border-radius: 10px;
}
/* Second Styling Starts Here */
.second {
    background-color: teal;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
}
.second h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}
.para {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
    color: white;
}
/* Third Styling Starts Here */
.third {
}
.graph {
    width: 45rem;
}
.hub a {
    color: teal;
    text-decoration: none;
    font-size: larger;
}
