body{
    background-color: aliceblue;
    font-family: "nunito", sans-serif;
    height: 100vh;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    
}
.top {
    padding-left: 50px;
    padding-right: 50px;
}
/* Navbar Styling Start Here */
.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    height: 50px;
    margin-bottom: 100px;
    align-items: center;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.icon img {
    width: 15rem;
}
.navlinks {
    justify-content: space-around;
    display: flex;
    gap: 5rem;
}
.navlinks a {
    text-decoration: none;
    color: black;
    gap: 1.5rem;
    align-items: stretch;
}
.navbutton a {
    color: white;
    text-decoration: none;
    background-color: teal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}
/* First Class Styling Starts Here */
.first {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 10rem;
}
.text {
    padding: 40px;
}
.text h1 {
    width: 35rem;
}
.text .edition {
    font-size: 20px;  
    color: black;
}
.text p {
    width: 30rem;
}
.button {
    margin-top: 20px;
}
.button a {
    text-decoration: none; 
    background-color: teal; 
    color: white; 
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-right: 20px; 
    padding-left: 20px; 
    margin-right: 20px;
}
.grid {
    max-width: 50%;
}
.grid img {
    width: 40rem;
    height: 100%;
    border-radius: 10px;
}
/* Second Styling Starts Here */
.second {
    background-color: teal;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
}
.second h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}
.para {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
    color: white;
}
/* Third Styling Starts Here */
.third {
    padding-top: 40px;
}
.graph {
    width: 45rem;
}
.hub a {
    color: teal;
    text-decoration: none;
    font-size: larger;
}
/* Fourth Styling Starts Here */
.fourth {
    padding-top: 30px;
}
.meta {
    display: flex;
    gap: 4rem;
    padding-bottom: 40px;
}
.texts {
    width: 30rem;
}
.met {
    display: flex;
    gap: 4rem;
}
/* Fifth Styling Starts Here */
.fifth {
    margin-left: 23rem;
    margin-top: 7rem;
}
.fifth .meta a {
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-weight: bolder;
    margin-left: 13rem;
    margin-top: 5rem;
}
/* Footer Styling Starts Here */
.down {
    background-color: white;
}
.last {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.last ul {
    list-style: none;
    text-align: left;
    padding-left: 5px;
}
.last .dummy {
    line-height: 2rem;
}
.last .dummy a {
    text-decoration: none;
    color: black;
}
.down .icons {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 3rem;                                                                                                                                                                                                                            
}
.down .icons img {
    width: 25px;
}
.down .final {
    background-color: black;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    justify-content: center;
    display: flex;
}